Package: com.yourcompany.aslrwrite
Name: ASlRWrite
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: YourName
Author: YourName
Section: Tweaks
